#content_box {
  margin: 20px;
  margin-top: 0px;
  width: 960px;
  position: relative;
  display: inline-block;
  
  background-color: #bbd2e4;
}

#email_form {
  margin: 20px 25px;
  
  color: #000000;
}