#content {
  margin-top: 15px;
  width: 100%;
  display: inline-block;
  
  overflow: hidden;
  
  background-color: #212c62;
}

#breadcrumbs {
  margin: 20px 25px;
  width: 100%;
  
  font-family: Arial;
}

#breadcrumbs a {
  text-decoration: none;
  color: #bbd2e4;
}

#breadcrumbs p {
  margin-left: 15px;
  display: inline;
}

#movie_box {
  margin: 20px;
  margin-top: 0px;
  width: 100%;
  position: relative;
  display: inline-block;
}

.movie_display {
  display: none;
  width: 960px;
  
  border: 1px solid #ccc;
  border-top: none;
  background-color: #bbd2e4;
}

.movie_info {
  margin: 25px;
  width: 135px;
  height: 350px;
  display: inline-block;
  
  animation: fadeEffect 0.5s;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.movie_poster {
  width: 135px;
  height: 200px;
}

#movie_tabs {
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
}

.tab_button {
  padding: 14px 16px;
  float: left;
  
  background-color: #41808f;
  font-family: Arial;
  cursor: pointer;
  border: none;
  border-radius: 5px 5px 0px 0px;
  outline: none;
  transition: 0.3s;
}

.tab_button:hover {
    background-color: #6caab9;
}

.tab_button.active {
    background-color: #bbd2e4;
}