#content {
  margin-top: 15px;
  height: 500px;

  overflow: hidden;

  background-color: #212c62;
}

#innerbox {
  margin: 20px;
  height: 425px;
  position: relative;
  background-color: #bbd2e4;
}

#details{
    outline: none;
    background-color: rgba(0, 0, 0, 0.69);
    color: rgb(255, 255, 255);
  }
  .selectionBlock{
    margin: 0px auto;
    max-width: 300px;
  }
  .theatre{
    border-right: 5px solid #d8d8d8;
    border-left: 5px solid #d8d8d8;
  }
  .seatrow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
ol {
 list-style :none;
 padding: 0;
 margin: 0;
}

.seat {
    display: flex;
    flex: 0 0 14%;
    padding: 3.5px;
    position: relative;
  }

  input[type=checkbox]{
    position: absolute;
    opacity: 0;
  }
  input[type=checkbox]:checked+label {
      background: #55dab2;
  }
  label {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5rem;
    padding: 4px 0;
    background: #aba8b0;
    border-radius: 5px;
    }
