#content {
  margin-top: 15px;
  height: 500px;

  overflow: hidden;

  background-color: #212c62;
}

#formbox {
  margin: 20px;
  height: 425px;
  padding: 10px;
  position: relative;
  background-color: #bbd2e4;
}

form {
  width: 350px;
  padding: 10px;
}

label {
  float: left;
  clear: left;
  display: block;
  width: 100px;
  text-align: left;
  padding-right: 10px;
  margin-top: 2px;
}
#input {
  margin-top: 2px;
  display: block;
}
